@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Comfortaa:wght@300..700&display=swap');

body{
    margin: auto;
}

#indexWrap{
    width: 100vw;
    height: 100vh;
}

.menu{
    height: 100vh;
    width: 50vw;
    background: #1E5341;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.menu-button{
    cursor: pointer;
    display: inline;
}
.fade-layer.visible{
    display: block;
}

@media screen and (max-width: 500px) {
    #indexWrap{
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: 100%;
        grid-template-rows: 15% auto 10%;
        grid-template-areas: 
        'hd'
        'mn'
        'ft';
    }

    #phone_logo{
        width: 85%;
        height: 98%;

    }

    #phone_bckg{
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .glass{
        margin-top: 15px;
        margin-left: 20%;
        position: absolute;
        width: 300px;
        height: 200px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid;
        border-color: rgba(255, 255,255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        z-index: 3;
        text-align: center;
    }

    .hd{
        grid-area: hd;
        background-color: #1E5341;
        display: flex;
    }

    .mn{
        grid-area: mn;
        background-color: #1E5341;
        
    }

    .ft{
        grid-area: ft;
        background-color: #1E5341;
    }

    .md48{
        margin-top: 50%;
        font-size: 48px !important;
        color: #ffefdd;
    }

    .big_i_t{
        font-family: 'Comfortaa', sans-serif;
        font-weight: 700;
        font-size: 26px;
    }
    .small_i_t{
        font-family: 'Comfortaa', sans-serif;
        font-weight: 700;
        font-size: 16px;
    }
    #ft_text{
        font-size: 12px;
    }
    #copyright{
        text-align: center;
    }
    #ft_div{
        margin-top: 5px;
        display: flex;
        justify-content: space-evenly;
    }
    
}

/* För dator ska jag använda fonten 'Big shoulders Inline' */
